name: Hello World Workflow
on:
    pull_request:
        branches:
            - main
jobs:
    hello_world:    
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello, World!"